[Unit]
Description=UPS Monitor Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/ups_monitor.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target